.flex-container {
	display: flex;
	width: 90%;
	margin: 8px 5%;
	background-color: #F8F6EF;
}

.flex-item {
	text-align: center;
	overflow-wrap: anywhere;
	margin: 2px;
	padding: 2px;
	width: 35%;
}

.flex-item-min {
	text-align: center;
	overflow-wrap: anywhere;
	margin: 2px;
	padding: 2px;
	width: 15%;
}
